:root {
    --primary-color: #ffff9b;
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 0 0;
    color: black;
}
.navbar, .footer {
    background-color: var(--primary-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.navbar img.logo {
    width: 15%;
    max-width: 80px;
}

nav.navbar .menu{
    display: flex;
}

.link {
    text-decoration: none;
  }

.separador {
    color: #514c45;
    padding-left:3px;
    padding-right:3px;
}

.link-menu {
    text-decoration: none;
    font-style: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #514c45;
}

.link-menu:hover {
    color:#00a292;
    font-size: 16px;
}

.link-menu{
    transition: color 0.8s linear 0.1s;
}

.header {
    background-image: url('https://spt.nyc3.digitaloceanspaces.com/Screen-Shot-2021-02-24-at-10.55.06-AM.png');
    background-size: cover;
    height: 30vw;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .title {
    padding:5px;
    background-color: #00a292;
    border-radius: 5px 5px 5px 5px;
    color: white;
    font-size: 19px;
}

main {
    margin-top: 10px;
    padding: 20px;
}

h3 {
    font-style: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: justify;
}

p{
    font-weight: normal;
    font-size: 16px; 
}

.skills {
    border: 1px solid black;
    margin: 15px 0 15px 0;
    border-radius: 9px;
    height: 15px;
}

.container-skills {
    margin-top: 20px;
}

.container-skills div {
    margin-top: 0px;
}

.progress-skills {
    margin: 15px 0 15px 0;
    border-radius: 9px;
    height: 15px;
    background-color: #00a292

}

#sarcasm {
    animation: sarcasm-progress-skills 5s normal forwards;
}

#creativity {
    animation: creativity-progress-skills 5s normal forwards;
}

#audacity {
    animation: audacity-progress-skills 5s normal forwards;
}

#honesty {
    animation: honesty-progress-skills 5s normal forwards;
}

legend{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

fieldset label{
    font-weight: normal;
    font-size: 16px;
}

textarea{
    font-size: 14px;
    width: 98%;
    height: 80%;
    max-width: 700px;
    border-radius: 5px 5px 5px 5px;
}

input, textarea, select, button{
    display: block;
}

input, textarea, select, button{
    margin: 5px 0 15px 0px;
}

.meet label {
    text-align: right;
    clear: both;
    float:left;
    margin-right:10px;
  }

input[type=radio]{
    margin: 3px 3px 20px 5px;
    border-color: #00a292;
}

.contact {
    margin-top: 20px;
}

.meet {
    margin-top: 3px;
}

input[type=submit]{
    background-color: #00a292;
    padding: 5px 20px;
    font-size: 18px;
    color: white;
    border-radius: 60px;
    border: none;
}

.footer {
    text-align: center;
    margin: 70px 0 0 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
    margin-top: 7px;
}

.footer img {
    width: 40px; 
    height: auto;
}

/* keyframes para progress-skills*/

@keyframes sarcasm-progress-skills {
    0% {width: 0;}
    100% {width: 95%;
    }
}

@keyframes creativity-progress-skills {
    0% {width: 0;}
    100% {width: 80%;
    }
}

@keyframes audacity-progress-skills {
    0% {width: 0;}
    100% {width: 85%;
    }
}

@keyframes honesty-progress-skills {
    0% {width: 0;}
    100% {width: 60%;
    }
}

/* Large devices (desktops, 992px and up) */

@media screen and (min-width: 992px) {

    main {
        padding: 100px;
        justify-content: center;
    }

    .header .title {
      font-size: 35px;
    }

    .container-skills {
        width: 700px;
    }
}